/** @format */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Be Vietnam Pro", sans-serif;
	font-family: "DM Sans", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Poppins", sans-serif;
	font-family: "Quicksand", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Urbanist", sans-serif;
}
